body {
  background: #2262cc;
}
.todolist {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
}
.form input {
  outline: none;
  padding: 12px;
  border: 2px solid #4f87cd;
  border-radius: 6px;
  width: 420px;
}
.form button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  color: #fff;
  background: #2e68f8;
  border-radius: 6px;
}
button {
  border: none;
}
button:hover {
  opacity: 0.8;
  cursor: pointer !important;
}
button:active {
  transform: scale(0.95);
}
.list {
  background: #fff;
  width: 600px;
  min-height: 500px;
  border-radius: 16px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  justify-content: start;
}
.card {
  padding: 16px 10px;
  background: #c5e1e5;
  border-radius: 6px;
  display: flex;
  width: 519px;
  position: relative;
  align-items: center;
  transform: scale(0.6);
  opacity: 0;
  animation: card 0.3s ease-in 0s forwards;
}
@keyframes card {
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.card p {
  opacity: 0.8;
}
.card button {
  position: absolute;
  right: 12px;
  top: 7px;
  color: #fff;
  background: #1d1ba3;
  padding: 10px 14px;
  border-radius: 6px;
}
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.card p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.btn {
  padding: 8px 12px;
  border: 0;
  background: coral;
  border-radius: 6px;
  color: #fff;
  padding-bottom: -16px !important;
}
.btn:active {
  transform: scale(0.9);
}
